.coursedetail-left{
    display: flex;
    align-items: center;
    background-color: white;
    gap: 70px;
    padding: 5rem 6.25rem;
    width: 100%;
    height: calc(var(--vh,1vh) * 100);
}
.coursedetail-left-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coursedetail-left-title > img{
    width: 440px;
    height: 440px;
}
.coursedetail-left-title > h1{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 3.59374rem;
    text-align: center;
    min-width: max-content;
    text-transform: uppercase;
    line-height: 4.875rem;
    color: #1E3A8A;
}
.coursedetail-left-des{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.coursedetail-left-des > p{
    font-size: 1.54018rem;
    font-weight: 500;
    gap: 10px;
}
.coursedetail-left-des > p > img{
    margin-right: 7.5px;
}
.coursedetail-left-des > p > span{
    font-family: var(--primary-font);
    font-size: 1.54018rem;
    font-weight: 800;
    color: #1E3A8A;
}
.coursedetail-left-des > p{
    font-family: var(--primary-font);
    font-weight: 500;
}
.coursedetail-left-des > p:nth-child(7){
    font-weight: 700;
    font-family: var(--secondary-font);
}
.coursedetail-left-des > button{
    width: 100%;
}

@media ( min-width: 1030px ) and ( max-width: 1260px) {
    .coursedetail-left-title > img{
        width: 340px;
        height: 340px;
    }
    .coursedetail-left-title > h1{
        font-size: 2.9375rem;
    }
}

@media ( min-width: 520px ) and ( max-width: 1030px){
    .coursedetail-left{
        padding: 2.5rem 1.25rem;
        flex-direction: column;
        height: max-content;
    }
    .coursedetail-left-des > button{
        width: 100%;
        height: 80px;
    }
    .coursedetail-left-title > img{
        width: 340px;
        height: 340px;
    }
}
@media ( min-width: 280px ) and ( max-width: 520px){   
    .coursedetail-left{
        flex-direction: column;
        padding: 2.5rem 0.938rem;
        gap: 20px;
    }
    .coursedetail-left-title > img{
        width: 280px;
        height: 280px;
    }
    .coursedetail-left-title > h1{
        font-size: 3.35rem;
    }
}