.reasonpage-cards-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 420px;
    height: max-content;
    padding: 0 40px 50px 40px;
    box-shadow: 5px 5px 12px rgb(220, 220, 220);
    background-color: white;
    transition: border 0.05s ease-in-out;
}
.reasonpage-cards-item:hover{
    border: 3px solid #1e3a8a;
    cursor: pointer;
}
.reasonpage-cards-item > img{
    width: 222px;
    height: 222px;
    object-fit: contain;
    margin-bottom: 20px;
}
.reasonpage-cards-item > p{
    display: -webkit-box;
    -webkit-box-orient: column;
    -webkit-line-clamp: 3;
    font-family: var(--primary-font);
    font-weight: 600;
}
.reasonpage-cards-item > p > span{
    font-family: var(--primary-font);
    font-weight: 800;
    color: #1E3A8A;
}

@media (min-width: 690px) and (max-width: 970px){
    .reasonpage-cards-item{
        width: 520px;
    }
}
@media (min-width: 520px) and (max-width: 690px){
    .reasonpage-cards-item{
        width: 95%;
    }
}