.resultpage{
    padding: 2.1875rem 0;
}
.resultpage-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 2.8125rem;
}
.resultpage-title--leftcontent > p{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 1.54018rem;
    line-height: 1.875rem;
    letter-spacing: 0.18538em;
}
.resultpage-title--leftcontent > h1{
    font-family: var(--primary-font);
    font-size: 3.59374rem;
}
.resultpage-content{
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    gap: 20px;
}

@media (min-width: 800px) and (max-width: 1150px){
    .resultpage-content{
        overflow: hidden;
    }
}

@media (min-width: 520px) and (max-width: 800px){
    .resultpage-title{
        justify-content: center;
    }
    .resultpage-title--leftcontent > p {
        text-align: center;
    }
    .resultpage-title > img{
        display: none;
    }
    .resultpage-content{
        overflow: hidden;
    }
}

@media (min-width: 380px) and (max-width: 520px){
    .resultpage-title > img{
        display: none;
    }
    .resultpage-content{
        overflow: hidden;
    }
}