*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
html{
    font-size: 16px;
}
body{
    overflow-x: hidden;
    overscroll-behavior-x: contain;
    min-width: 280px;
}
.applayout{
    position: relative;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 950px){
    html{
        font-size: 12px;
    }
}
@media (min-width: 280px) and (max-width: 320px){
    html{
        font-size: 10px;
    }
}