.cta-button{
    width: 279px;
    height: 60px;
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.5625rem;
    line-height: 2.25rem;
    border: 2.5px  solid transparent;
    transition: background-color 0.15s ease-in-out,
                border-color 0.15s ease-in-out,
                color 0.15s ease-in-out;
}
.cta-button:hover{
    cursor: pointer;
    background-color: transparent;
    border-color: black;
    color: black;
}