.coursedetail-right{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: #F7F7F7;
    gap: 70px;
    padding: 80px 100px;
    width: 100%;
    height: 100vh;
}
.coursedetail-right-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coursedetail-right-title > h1{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 57.4998px;
    min-width: max-content;
    text-transform: uppercase;
    line-height: 78px;
    color: #1E3A8A;
}
.coursedetail-right-des{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.coursedetail-right-des > p{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 24.6428px;
}
.coursedetail-right-des > p > img{
    margin-right: 7.5px;
}
.coursedetail-right-des > p > span{
    font-family: var(--primary-font);
    font-size: 24.6428px;
    font-weight: 800;
    color: #1E3A8A;
}
.coursedetail-right-des > button{
    width: 100%;
}

@media ( min-width: 1030px ) and ( max-width: 1260px) {
    .coursedetail-right-title > img{
        width: 340px;
        height: 340px;
    }
    .coursedetail-right-title > h1{
        font-size: 47px;
    }
}

@media ( min-width: 520px ) and ( max-width: 1030px){
    .coursedetail-right{
        padding: 40px 20px;
        flex-direction: column;
        height: max-content;
    }
    .coursedetail-right-des > button{
        width: 100%;
        height: 80px;
    }
}