.header{
    width: 100%;
    max-width: 1560px;
    min-width: 1540px;
    height: 62px;
    z-index: 2;
    position: fixed;
    background-color: rgba(0,0,0, 0.3); 
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 65px;
    padding: 20px 80px;
}
.header > p{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 13.9642px;
    line-height: 17px;
    color: #FFFFFF;
}
.header > button {
    width: 120px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12.3214px;
    line-height: 15px;
    color: #131313;
}
.header > span{
    color: white;
}