.header{
    width: 100%;
    height: 62px;
    z-index: 2;
    position: absolute;
    background-color: rgba(0,0,0, 0.3); 
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 65px;
    padding: 1.25rem 5rem;
}
.header > p{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 0.87276rem;
    line-height: 1.0625rem;
    padding: 20px 0px;
    color: #FFFFFF;
    transition: color 0.1s ease-in-out;
}
.header > p:hover{
    cursor: pointer;
    color: rgb(218, 215, 215);
}
.header > button {
    width: 120px;
    height: 35px;
    background-color: white;
    border: none;
    border-radius: 15px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 0.77009rem;
    line-height: 0.9375rem;
    color: #131313;
    transition: background-color 0.15s ease-in-out,
                color 0.15s ease-in-out,
                border 0.15s ease-in-out;
}
.header > button:hover{
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
.header > span:nth-child(5){
    display: none;
}
.header > span:nth-child(6){
    color: white;
}

@media (min-width: 380px) and (max-width: 950px){
    .header{
        justify-content: space-between;
        height: 70px;
        position: static;
        background-color: #1E3A8A;
        padding: 0.3125rem 1.25rem;
    }
    .header > p{
        display: none;
    }
    .header > button{
        display: none;
    }
    .header > span:nth-child(5){
        display: inline-block;
        font-size: 2.8125rem;
    }
    .header > span:nth-child(6){
        font-size: 2.8125rem;
    }
}