.reasonpage{
    padding: 2.5rem 2.8125rem 5.3125rem 2.8125rem;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}
.reasonpage > h1{
    font-family: var(--primary-font);
    text-align: center;
    color: #1E3A8A;
    font-size: 3.59374rem;
    text-transform: uppercase;
}
.reasonpage-cards{
    display: flex;
    justify-content: center;
    gap:20px;
    width: 100%;
}

@media (min-width: 520px) and (max-width: 970px){
    .reasonpage-cards{
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 280px) and (max-width: 520px){
    .reasonpage-cards{
        flex-direction: column;
    }
    .reasonpage{
        padding: 2.5rem 0.938rem;
    }
}
