.form{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: max-content;
    gap:55px;
    background-color: #1E3E8A;
    padding: 2.5rem 2.8125rem 2.5rem 2.8125rem;
}
.form-rightcontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.form-rightcontent > h1{
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 3.5625rem;
    text-align: start;
    color: #FFFFFF;
}
.form-rightcontent > p{
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 1.28348rem;
    text-align: start;
    color: #CFCFCF;
}
.form-leftcontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.form-leftcontent > div > p{
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1.28348rem;
    line-height: 1.5rem;
    margin-bottom: 5px;
    color: #FFFFFF;
}
.form-leftcontent-input > div > p{
    font-family: var(--primary-font);
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 1.28348rem;
    line-height: 1.5rem;
    color: #FFFFFF; 
}
.form-leftcontent > div > input{
    width: 100%;
    height: 55px;
    border-radius: 15px;
    border: none;
    padding: 0.625rem;
    outline: none;
}
.form-leftcontent-who-select,
.form-leftcontent-course-select{
    width: 100%;
    height: 55px;
    padding: 0.625rem;
    appearance: none;
    border-radius: 15px;
    border: none;
    outline: none;
}
.form-leftcontent-course-select{
    font-family: var(--primary-font);
}
.form-leftcontent-who-select{
    font-family: var(--primary-font);
}
.form-leftcontent > div > input::placeholder{
    font-family: var(--primary-font);
}
.form-leftcontent-input{
    display: flex;
    justify-content: space-between;
    gap:10px;
}
.form-leftcontent-input > div > input::placeholder{
    font-family: var(--primary-font);
}
.form-leftcontent-input-birthdate{
    width: 100%;
}
.form-leftcontent-input-email{
    width: 100%;
}
.form-leftcontent-input > div > input{
    width: 100%;
    height: 55px;
    border-radius: 15px;
    border: none;
    padding: 0.625rem;
    outline: none;
}
.form-leftcontent > button{
    margin-top: 10px;
    width: 100%;
}

@media (min-width: 520px) and (max-width: 1150px){
    .form{
        flex-direction: column;
        padding: 2.5rem 1.25rem;
    }
    .form-rightcontent > img{
        display: none;
    }
    .form-rightcontent > h1{
        width: 100%;
        text-align: center;
    }
    .form-rightcontent > p{
        text-align: center;
    }
    .form-leftcontent > div > input{
        height: 75px;
    }
    .form-leftcontent-input > div > input{
        height: 75px;
    }
    .form-leftcontent>div>select{
        height: 75px;
    }
    .form-leftcontent > button{
        width: 100%;
        height: 80px;
    }
}

@media (min-width: 280px) and (max-width:520px){
    .form{
        flex-direction: column;
    }
    .form-rightcontent > img{
        display: none;
    }
    .form{
        padding: 2.5rem 0.938rem;
    }
}