@import url(../../variable.css);
.courses{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
    padding-bottom:35px;
}
.courses-header{
    width: 100%;
    display: flex;
    padding: 4.375rem 2.1875rem;
    justify-content: space-between;
}
.courses-header-name > p{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 1.54018rem;
    line-height: 1.875rem;
    letter-spacing: 0.18538em;
}
.courses-header-name > h1{
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 4.10713rem;
    line-height: 4.8125rem;
    text-align: center;
}
.courses-body{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}
.courses-body-course{
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px #f1f1f1;
    gap: 10px;
    width: 710px;
    height: 245px;
    transition: box-shadow 0.15s ease-in-out;
}
.courses-body-course:hover{
    box-shadow: 0px 6px 15px 8px rgb(233, 233, 233);
    cursor: pointer;
}
.courses-body-course-content{
    display: flex;
    flex-direction: column;
    padding:0.9375rem 0.625rem;
    gap:18px;
}
.courses-body-course-content > h1{
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 1.54018rem;
    line-height: 2.125rem;
    color: #1E3A8A;
    text-transform: uppercase;
}
.courses-body-course-content > p{
    font-family: var(--secondary-font);
    color: #3E3E3E;
}
.courses-body-course-content > p:nth-child(4){
    text-transform: uppercase;
}
.courses-body-course-content > p:nth-child(4) > span{
    text-transform: capitalize;
}
.courses-body-course-content > p > span{
    font-weight: 600;
}
.courses-body-course-content-description{
    display: flex;
    justify-content: space-between;
}
.courses-body-course-content-description--star{
    display: flex;
    gap: 5px;   
}
.courses-body-course-content-description--star > P{
    color: #F2D100;
    font-weight: 700;
    font-family: var(--secondary-font);
}
.courses-body-course-content-description--more{
    display: flex;
    align-items: center;
    gap:5px;
}
.courses-body-course-content-description--more > p{
    font-family: var(--secondary-font);
    color: #1E90FF;
    border-bottom: 1px solid #1E90FF;
}
.courses > button{
    margin-top: 90px;
}


@media (min-width: 1450px) and (max-width: 1530px){
    .courses-body-course{
        width: 670px;
    }
}

@media (min-width: 1345px) and (max-width: 1450px){
    .courses-body-course{
        width: 620px;
    }
}

@media (min-width: 1270px) and (max-width: 1345px){
    .courses-body-course{
        width: 580px;
    }
}

@media (min-width: 1150px) and (max-width: 1270px){
    .courses-body-course{
        width: 530px;
    }
    .courses-body-course-content{
        gap: 10px;
    }
}
/* Mobile */
@media (min-width: 520px) and (max-width: 1150px){
    .courses-header{
        display: flex;
        justify-content: center;
    }
    .courses-header > img{
        display: none;
    }
    .courses-header-name{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .courses > button{
        height: 80px;
        width: 90%;
    }
    .courses-body-course{
        width: 90%;
    }
    .courses-header-name > h1{
        text-align: center;
    }
}

@media (min-width: 450px) and (max-width: 520px){
    .courses-header > img{
        display: none;
    }
    .courses-header-name{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .courses-body{
        width: 100%;
        padding: 0 0.625rem;
    }
    .courses-body-course > img{
        width: 190px;
        height: 190px;
    }
}

@media (min-width: 320px) and (max-width: 450px){
    .courses-header > img{
        display: none;
    }
    .courses-header-name{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .courses-body{
        width: 100%;
        padding: 0 0.625rem;
    }
    .courses-body-course > img{
        width: 150px;
        height: 150px;
    }
    .courses-body-course{
        height: 200px;
    }
    .courses-body-course-content{
        gap: 5px;
    }
    .courses > button{
        width: 90%;
    }
}